/* ============================================
   ЭЛЕМЕНТ: article-card__title
   ============================================ */

.article-card__title {
    margin-bottom: var(--spacing-3);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 3.2em;
}

